.title {
  font-size: 35px;
  font-weight: 800;
  color: #191919;
  letter-spacing: -1px;
  margin-top: 146px;
}

.sub-title {
  font-size: 18px;
  font-weight: 500;
  color: #7d7d7d;
  margin-top: 20px;
}
